/CPU1_RAM/
/CPU1_FLASH/
/CPU1_LAUNCHXL_FLASH/
/CPU1_FLASH__opt_for_speed__0/
/CPU1_FLASH__opt_for_speed__1/
/CPU1_FLASH__opt_for_speed__2/
/CPU1_FLASH__opt_for_speed__3/
/CPU1_FLASH__opt_for_speed__4/
/CPU1_FLASH__opt_for_speed__5/
